<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let photo of photos">
      <div class="card h-100">
        <img src={{photo.download_url}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{photo.author}}</h5>
          <p class="card-text">Image dimensions: (w: {{photo.width}} h : {{photo.height}}), check author and url for copyrights and 
              licensing!
          </p>
        </div>
      </div>
    </div>
</div>
